# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/
.env


# uv Package Manager
.uv/

# OS Files
.DS_Store
Thumbs.db

# Developer specific
.vscode/
.idea/

checkpoint